$operate_width: 35%;
.van-cell {
  text-align: center;
  z-index: 10;
}

.focus {
  animation: onFocus cubic-bezier(0.18, 0.89, 0.32, 1) 0.6s;
  animation-fill-mode: forwards;
}

.blur {
  animation: onBlur cubic-bezier(0.18, 0.89, 0.32, 1) 0.6s;
  animation-fill-mode: forwards;
}

@keyframes onFocus {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-$operate_width);
  }
}

@keyframes onBlur {
  from {
    transform: translateX(-$operate_width);
  }
  to {
    transform: translateX(0);
  }
}

.cellContainer {
  position: relative;
}

.operate {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: $operate_width;
  display: flex;
  flex-direction: row;
  z-index: 1;
}