.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@mixin btn {
  width: 75%;
  margin: 16px 0;
}

.submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__btn {
    @include btn;
  }
  &__delete {
    @include btn;
  }
}