@import "transition";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: inherit;
  height: 100%;
  font-size: $medium;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}